@media (hover: hover) {
    .swiper-slide-content__text-link:hover {
        color: var(--accordeon-color);
    }

    .swiper-slide-content__text-link:hover.swiper-slide-content__text-link::after {
        background-color: var(--accordeon-color);
    }

    .item-flow-btn:hover {
        color: var(--input-call-color);
    }
    
    .item-flow-btn:hover .this-path {
        stroke: var(--input-call-color);
    }

    .dropdown-content:hover {
        box-shadow: inset 0 0 0 2px var(--input-call-color);
    }

    .header-site__btn-enter:hover .arrow-enter {
        background-color: var(--checkbox-color);
        transform: translateX(-4px);
    }

    .header-site__btn-enter:hover {
        color: var(--checkbox-color);
    }
    
    .header-site__btn-enter:hover .icon-path {
        fill: var(--checkbox-color);
    }

    .header-site__item:hover {
        color: var(--checkbox-color);
    }

    .header-site__btn:hover {
        box-shadow: 0 0 0 3px var(--accordeon-icon-hover);
    }

    .header-site__input-search:hover {
        border-bottom-color: var(--checkbox-color);
        transition: all .3s ease-in-out;
    }

    .gallery-button-prev:hover .this-path {
        fill: var(--input-call-color);
    }

    .gallery-button-next:hover .this-path {
        fill: var(--input-call-color);
    }

    .choices:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .gallery__checkbox-style:hover .checkbox-style-text {
        color: var(--checkbox-color);
    }
    
    .gallery__checkbox-style:hover .checkbox-style-text::before {
        border-color: var(--checkbox-color);
    }

    .year-accordeon__text:hover .this-path{
        fill: var(--accordeon-icon-hover);
    }

    .year-accordeon__text:hover {
        border-top: 1px solid var(--input-call-color);
        border-bottom: 1px solid var(--input-call-color);
    }
    
    .year-accordeon__text:hover .year-accordeon__text-tittle {
        color: var(--input-call-color);
    }

    .project-link:hover {
        color: var(--input-call-color);
    }

    .project-link:hover.project-link::after {
        opacity: 1;
    }

    .swiper-slide-project:hover .partners-img-size {
        filter: none;
        opacity: 1;
    }

    .partners-button-prev:hover .this-path {
        fill: var(--accordeon-icon-hover);
    }

    .partners-button-next:hover .this-path {
        fill: var(--accordeon-icon-hover);
    }
    
    .project-content__tooltips:hover {
        background-color: var(--accordeon-icon-hover);
    }

    .connection-social-icon:hover {
        opacity: 0.5;
        box-shadow: inset 1px 0 0 2px var(--black-color);
    }

    .connection__input-style:hover {
        background-color: var(--hover-input);
    }

    .footer-icon__point:hover .footer-path {
        fill: var(--basic-color);
    }

    .swiper-slide-gallery:hover .swiper-slide__picture-hover {
        opacity: 1;
        visibility: visible;
    }

    .ui-widget button:hover {
        color: var(--input-call-color);
    }

    .ui-widget button:hover.yaer-accordeon-list__btn:before {
        opacity: 1;
    }

    .connection__btn-style:hover {
        background-color: var(--input-call-color);
        color: var(--basic-color);
    }

    .dev-button-prev:hover .this-path {
        fill: var(--accordeon-icon-hover);
    }

    .dev-button-next:hover .this-path {
        fill: var(--accordeon-icon-hover);
    }

    .gallery-modal__close:hover .modal-close-line {
        background-color: var(--input-call-color);
    }
}

@media (min-width: 320px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .tittle {
        font-size: 28px;
        line-height: 38px;
        margin: 0 0 12px 0;
    }

    .description {
        width: 100%;
    }

    .header-site__nav-desktop, .header-site__list, .header-site__bottom, .header-site__btn-enter, .header-site__input-search {
        display: none;
    }

    .header-site__search--mobile {
        display: block;
    }

    .mobile-search {
        height: 170%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        right: -500px;
        transition: right .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px 18px 10px 0;
        overflow: hidden;
    }

    .mobile-search-container {
        align-self: flex-end;
        margin: 0 auto;
        width: 75%;
        display: flex;
        flex-direction: row-reverse;
        transition: right .5s ease-in-out;
        padding: 0 0 8px 0;
    }

    .mobile-search__input {
        width: 80%;
        height: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--gray-line-color);
        color: var(--basic-color);
    }

    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
    }

    .mobile-search--active {
        position: absolute;
        top: 0;
        z-index: 1000;
        height: 21%;
        overflow: hidden;
        right: 0;
        transition: right .5s ease-in-out;
    }

    .mobile-btn-form {
        align-self: flex-end;
    }

    .mobile-search-btn {
        display: block;
        position: relative;
    }

    .mobile-search-btn__line {
        width: 20px;
        height: 2px;
        background-color: var(--basic-color);
        display: block;
        position: absolute;
    }

    .mobile-search-btn {
        width: 15px; height: 25px;
    }

    .mobile-search-btn__line:nth-of-type(1) {
        transform: rotate(-45deg);
    }

    .mobile-search-btn__line:nth-of-type(2) {
        transform: rotate(45deg);
    }

    /* BURGER */

    .scroll-lock {
        overflow: hidden;
    }

    .header-site__content {
        padding: 10px 0 9px 0;
        align-items: center;
    }

    .burger-btn {
        display: flex;
        position: relative;
        cursor: pointer;
        flex-direction: column;
        width: 20px;
        height: 23px;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 3px 0;
    }

    .btn-enter-burger {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        height: 40px;
        position: absolute;
        bottom: 0;
        outline: 2px solid var(--input-call-color);
        border-radius: 100px;
        padding: 10px 30px;
        margin: 0 0 25px 0;
    }

    .header-site__btn-icon {
        width: 9px; height: 9px;
    }

    .burger-line-one, .burger-line-two, .burger-line-three {
        height: 2.5px;
        background-color: var(--basic-color);
    }

    .burger-line-one {
        width: 25px;
    }

    .burger-line-two {
        width: 16px;
    }

    .burger-line-three {
        width: 10px;
    }
    .header-site__button-search {
        background-image: url("../img/search-head-icon-320.png");
        width: 20px; height: 18px;
        margin: 0;
    }

    .burger-navigation {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateX(-1000%);
	    transition: transform .8s; 
        padding: 6px 0 0 15px;
    }

    .burger-navigation.active {
        transform: translateX(0);
    }

    .burger-exit-btn {
        width: 25px; height: 25px;
        position: relative;
        margin: 0 0 16px 0;
    }

    .burger-navigator-exit {
        display: block;
        width: 20px; height: 2px;
        background-color: var(--basic-color);
        position: absolute;
    }

    .burger-navigator-exit:nth-of-type(1) {
        transform:  rotate(-45deg);
    }

    .burger-navigator-exit:nth-of-type(2) {
        transform: rotate(45deg);
    }

    .burger-navigation__link {
        color: var(--basic-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }

    /* SWIPER-HEADER */
    
    .swiper-slide-header {
        width: 100%;
        min-height: 355px;
    }

    .header-site__text-tittle, .header-site__text-desc {
        text-align: center;
    }

    .header-site__text {
        margin: 0 auto;
        width: 100%;
    }

    .header-site__text-desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 42px 0;
        padding: 0 10px;
    }

    .header-site__text-tittle {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        padding: 0 11px;
        margin: 0 0 10px 0;
    }

    .header-site__description {
        padding: 78px 0 45px 0;
    }

    .description {
        font-size: 14px;
        line-height: 28px;
    }

    .header-site__btn {
        width: 70%;
        font-size: 12px;
        line-height: 16px;
        height: 40px;
        display: block;
        margin: 0 auto;
        padding: 10px ;
        text-align: center;
    }

    .about-us {
        padding: 50px 0 40px 0;
    }

    .about-us__desc {
        width: 100%;
        line-height: 28px;
    }

    /* GALLERY */

    .gallery {
        background-size: cover;
        min-height: 800px;
        padding: 50px 0 0 0;
    }

    .swiper-slide-gallery:active::after {
        opacity: 1;
        visibility: visible;
        box-shadow: inset 0 0 0 2px var(--accordeon-icon-hover);
    }

    .gallery-modal {
        top: 0;
        opacity: 0;
        visibility: hidden;
        min-width: 100%;
        z-index: 300;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-x: hidden;
        position: fixed;
        transition: all 0.7s ease-in-out;
    }

    .modal--active {
        opacity: 1;
        visibility: visible;
    }

    .gallery-modal__decr {
        background-color: var(--basic-color);
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .gallery-modal__body {
        display: flex;
        flex-direction: column;
        position: relative;
    } 

    .gallery-modal__close {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 2%;
        right: 7%;
        cursor: pointer;
    }

    .gallery-modal__picture-img {
        width: 100%;
    }

    .modal-close-line {
        width: 25px;
        height: 1px;
        background-color: var(--black-color);
        display: block;
        position: absolute;
    }

    .modal-close-line:nth-of-type(1) {
        transform: rotate(-45deg);
    }

    .modal-close-line:nth-of-type(2) {
        transform: rotate(45deg);
    }

    .gallery-modal__decr-name, .gallery-modal__decr-tittle {
        color: var(--text-color);
    }

    .gallery-modal__picture {
        background-color: var(--basic-color);
    }

    .gallery-modal__decr-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .gallery-modal__decr-tittle {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .gallery-modal__decr-age {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: var(--gallery-modal-descr-color);
        margin: 0 0 12px 0;
    }

    .gallery-modal__decr-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    
    .catalog-section__tittle {
        line-height: 38px;
        margin: 0 0 8px 0;
    }

    .gallery-select-filter {
        display: block;
        margin: 0 0 5px 0;
    }

    .choices__inner {
        min-height: 40px;
    }

    .gallery__desc {
        flex-direction: column;
    }

    .gallery__content {
        margin: 0 0 41px 0;
    }

    .gallery-button-icon, .year-accordeon__text-icon, .dev-button-next-icon, .footer-icon__point, .connection-social-icon, .partners-button-next__icon, .partners-button-prev__icon {
        border-radius: 50%;
    }

    .dev-button-next-icon {
        transition: box-shadow .4s ease-in-out;
    }

    .dev-button-next:active .dev-button-next-icon {
        box-shadow: 0 0 0 2px var(--input-call-color);
    }
    
    .dev-button-prev:active .dev-button-next-icon {
        box-shadow: 0 0 0 2px var(--input-call-color);
    }

    .choices {
        width: 251%;
        margin: 0 0 30px 0;
    }

    .gallery__checkbox-style {
        width: 70%;
    }

    .gallery__checkbox-style:not(:last-child) {
        margin: 0 0 12px 0;
    }

    .gallery-button-prev, .gallery-number-list {
        margin: 0 20px 0 0;
    }

    .dev-pagination {
        margin: 0 auto;
        width: 40%;
    }

    .gallery-swiper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .galelery-button {
        margin: 0 0 50px 0;
        align-self: center;
    }

    .swiper-slide__image {
        margin: 0 0 17px 0;
    }

    /* GALLERY MODAL */

    .swiper-slide-gallery:hover + .swiper-slide__picture-hover {
        display: none;
    }

    /* CATALOG */

    .catalog-section {
        padding: 50px 0 0 0;
    }

    .catalog-section__text {
        display: none;
    }

    .year-accordeon__text-tittle {
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
    }

    .year-accordeon__text-icon {
        width: 30px; height: 30px;
        border-radius: 50%;
    }

    .year-accordeon:last-child {
        margin: 0 0 46px 0;
    }

    .ui-accordion .ui-accordion-header {
        padding: 20px 0;
    }

    .ui-accordion .ui-accordion-content {
        padding: 22px 0;
    }

    .catalog-section__content {
        flex-direction: column-reverse;
    }

    .catalog-section__left, .catalog-section__right, .catalog-section__left-image, .swiper-slide-image {
        width: 100%;
    }

    .catalog-section__left-image {
        margin: 0 0 15px 0;
    }

    .artist-biography__date {
        margin: 0 0 6px 0;
    }

    .yaer-accordeon-item-artist {
        column-count: 1;
    }

    .announcement__tittle {
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: var(--text-color);
        margin: 0 0 5px 0;
        font-family: 'Open Sans';
    }

    .year-accordeon__item-info {
        display: flex;
        align-items: flex-start;
        padding: 10px 0;
    }

    .gray-block {
        width: 210px; height: 110px;
        background-color: var(--gray-block-color);
        outline: 2px solid var(--gray-block-color);
        margin: 0 30px 0 5px;
        outline-offset: 3px;
    }

    /* DEVELOPMENTS */

    .dev-button-next {
        display: none;
    }

    .dev-pagination {
        display: flex; 
        justify-content: space-between;
    }

    .dev-button-prev {
        opacity: 0;
        visibility: hidden;
    }

    section.developments {
        padding: 50px 0 0 0;
    }

    .developments-content__tittle {
        margin: 0 0 12px 0;
    }

    .swiper-slide-image {
        margin: 0 0 17px 0;
    }

    .swiper-slide-content__adress {
        text-align: right;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .developments-content__slider {
        margin: 0 0 20px 0;
    }

    .swiper-slide-content__text-link {
        text-decoration: none;
        /* border-bottom: 1px solid var(--input-call-color); */
        position: relative;
        display: inline-block;
        width: 88px;
        padding: 0 0 0 8px;
    }

    .swiper-slide-content__text-link::after {
        position: absolute;
        content: '';
        width: 91%;
        height: 1px;
        left: 9px;
        bottom: 0;
        background-color: var(--input-call-color);
    }

    .swiper-pagination-bullet-active {
        background-color: var(--pagination-active-color);
    }

    .swiper-slide-content__text {
        padding: 0 10px 50px 19px;
        min-height: 413px;
    }

    .swiper-slide-content__adress {
        margin: 0 0 9px 0;
    }

    .swiper-slide-content__text-tittle {
        margin: 0 0 5px 0;
    }

    .swiper-slide-content__text-link:active {
        color: var(--text-color);
        /* border-bottom-color: var(--text-color); */
    }

    .swiper-slide-content__text-link::after {
        transition: background-color .4s ease-in-out;
    }

    .swiper-slide-content__text-link:active.swiper-slide-content__text-link::after {
        background-color: var(--text-color);
    }
/* 
    .swiper-backface-hidden .swiper-slide {
        align-self: center;
    } */

    /* PROJECT */

    .project {
        padding: 50px 0 0 0;
    }

    .project-content__desc {
        max-width: none;
        width: 100%;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.1px;
        margin: 0 0 10px 0;
    }

    .project-link:active {
        color: var(--accordeon-color);
    }

    .project-link:active.project-link:after {
        background-color: var(--accordeon-color);
        opacity: 1;
    }

    .project-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 1px;
        background-color: var(--input-call-color);
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }

    .project-content__tooltips {
        width: 16px; height: 16px;
        border: 1px solid var(--input-call-color);
        border-radius: 50%;
        font-size: 13px;
        font-weight: 600;
        transition: background-color .4s ease-in-out;
    }

    .project-content__tooltips:active {
        background-color: var(--input-call-color);
        color: var(--basic-color);
    }

    .project-content__partners {
        font-size: 18px;
        line-height: 32px;
        margin: 0 0 10px 0;
    }

    .swiper-slide-project {
        min-height: 65px;
    }

    .swiper-partners {
        margin: 0;
    }

    .project-swiper {
        /* width: 195px; */
        height: 65px;
        padding: 0 17px;
    }

    .partners-img-size {
        transition: opacity .4s ease-in-out, filter .4s ease-in-out;
        opacity: 0.4;
        filter: grayscale(1);
        max-width: 55%;
        max-height: 70%;
    }

    .partners-button-next__icon, .partners-button-prev__icon {
        transition: box-shadow .4s ease-in-out;
    }

    .partners-button-prev:active .partners-button-prev__icon {
        box-shadow: 0 0 0 2px var(--input-call-color);
    }

    .partners-button-next:active .partners-button-next__icon {
        box-shadow: 0 0 0 2px var(--input-call-color);
    }

    /* CONNECTION */

    .connection {
        padding: 0;
        align-items: flex-start;
    }

    .connection__adress-tittle {
        font-size: 18px;
        line-height: 35px;  
    }

    .connection__call-form, .connection {
        flex-direction: column;
    }

    .form-input-container, .connection__adress, .connection__btn-style {
        margin: 0 0 22px 0;
    }

    .form-input-container {
        position: relative;
    }

    .just-validate-error-label {
        margin: 0 auto;
        top: -50%;
        left: 10%;
    }

    .is-invalid {
        border-color: #d11616;
    }

    .connection__input-style, .connection__btn-style {
        height: 40px;
    }

    .connection__btn-style {
        font-weight: 700;
        font-size: 12px;
        line-height: 7px;
        color: var(--input-call-color);
        height: 40px;
        border: 2px solid var(--input-call-color);
        border-radius: 100px;
        width: 44%;
    }

    .connection__call {
        width: 100%;
    }

    .connection__input-style {
        width: 100%;
        margin: 0;
    }

    .connection-social-link {
        margin: 0 0 20px 0;
    }

    .connection-social-tittle {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }

    .connection-social-icon, .footer-icon__link {
        width: 50px;
        height: 50px;
    }

    .connection-social-icon:active {
        opacity: 1;
        box-shadow: 0 0 0 2px var(--accordeon-color);
    }

    .text-hidden {
        display: none;
    }

    section.adress {
        padding: 45px 0 0 0;
        margin: 0;
    }

    .connection__adress-style {
        font-weight: 400;
        font-size: 14px;
        line-height: 5px;
        font-style: normal;
    }

    .adress-map, .ymaps-2-1-79-map, .ymaps-2-1-79-i-ua_js_yes, .ymaps-2-1-79-map-bg, .ymaps-2-1-79-islets_map-lang-ru {
        height: 320px;
        max-width: 100%;
    }

    .footer-content {
        padding: 20px 0;
    }

    .footer-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-icon {
        margin: 0 0 17px 0;
    }

    .footer-icon__point {
        width: 50px; height: 50px;
    }

    .footer-icon__link:not(:last-child) {
        margin: 0 30px 0 0 ;
    }
} 

@media (min-width: 576px) {

    .tittle {
        margin: 0 0 15px 0;
        font-size: 48px;
        line-height: 65px;
    }

    .choices__list--single .choices__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding: 3px 0 0 0;
    }

    .choices__inner, .choices__list--single {
        padding: 0 0 0 8px;
    }

    .description {
        font-size: 16px;
        line-height: 32px;
    }

    .mobile-search--active {
        height: 13%;
    }

    .header-site__text-tittle {
        text-align: left;
        font-weight: 700;
        font-size: 62px;
        line-height: 82px;
        padding: 30px 0 0 0;
    }

    .header-site__text-desc {
        text-align: left;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }

    .header-site__btn {
        margin: 0;
        width: 40%;
        height: 40px;
    }

    .yaer-accordeon-item-artist {
        column-count: 2;
    }

    .swiper-slide-content__adress {
        text-align: right;
        padding: 0 16px 0 0;
    }

    .swiper-slide-image {
        margin: 0 0 15px 0;
    }

    .project-swiper {
        width: auto;
        padding: 0 10px;
    }
    
    .catalog-section__left-image, .swiper-slide-image {
        width: 100%;
    }

    .developments-content__slider {
        margin: 0 0 30px 0;
    }

    .connection, .connection__call-form {
        align-items: flex-start;
    }

    .connection__input-style, .connection__btn-style {
        width: 323px;
    }

    .footer-container {
        flex-direction: row;
    }

    .text-hidden {
        display: inline;
    }
}    

@media (min-width: 768px) {

    .mobile-search-btn {
        width: 35px; height: 40px;
    }

    .mobile-search-btn__line {
        width: 35px;
        height: 3px;
    }

    .mobile-search {
        background-color: rgba(0, 0, 0, 1);
        padding: 29px 45px 19px 0;
    }

    .mobile-search--active {
        height: 13%;
    }

    .mobile-search__input, .mobile-search-container {
        width: 89.3%;
    }

    .mobile-search__input {
        align-self: center;
        margin: 0 0 0 12px;
    }

    .mobile-search-container {
        padding: 0 0 11px 0;
    }

    .burger-navigation {
        padding: 30px 0 0 50px;
    }

    .burger-navigation__link {
        font-size: 24px;
        line-height: 64px;
    }

    .burger-exit-btn {
        margin: 0 0 35px 0;
    }

    .burger-navigator-exit {
        width: 30px;
    }


    /* GALLERY */

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px 0 50px;
    }

    .burger-btn {
        width: 36px;
        height: 27px;
    }

    .burger-line-one {
        width: 36px;
    }

    .burger-line-two {
        width: 28px;
    }

    .burger-line-three {
        width: 24px;
    }

    .header-site {
        min-height: 768px;
    }

    .header-site__button-search {
        width: 27px; height: 31px;
        background-image: url("../img/search-head-icon-768.png");
        /* padding: 0 0 33px 0; */
    }

    .burger-line-one, .burger-line-two, .burger-line-three {
        height: 3px;
    }

    .header-site__content {
        padding: 30px 0 26px 0;
    }

    .header-site__text {
        padding: 135px 0 0 0;
    }

    .header-site__text-desc {
        max-width: none;
        margin: 0 0 130px 0;
        padding: 0;
    }

    .header-site__btn {
        padding: 20px 0;
        font-size: 2.4vw;
        line-height: 25px;
        width: 47%; height: 70px;
    }

    .header-site__text-tittle {
        font-size: 72px;
        line-height: 85px;
        margin: 0 0 10px 0;
        padding: 0;
    }
    
    .about-us {
        padding: 80px 0 73px 0;
    }

    .gallery {
        min-height: 887px;
        background-size: cover;
        padding: 80px 0 0 0;
    }

    .gallery-swiper {
        max-width: 760px;
        flex-direction: column;
    }

    .gallery-select-filter {
        margin: 0 0 10px 0;
    }
    
    .choices {
        margin: 0 0 40px 0;
        width: 149%;
    }

    .gallery__checkbox-style:not(:last-child) {
        margin: 0 0 11px 0;
    }

    .galelery-button {
        align-self: flex-start;
        margin: 0 0 30px 0;
    }

    .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 0;
    }

    .gallery__checkbox-style span::after {
        left: 4px;
    }
    
    .gallery__desc {
        flex-direction: column;
    }

    .gallery__checkbox {
        margin: 0 0 10px 0;
    }

    .swiper-slide-gallery {
        max-width: 350px;
    }

    /* CATALOG */

    .catalog {
        padding: 80px 0 0 0;
    }

    .catalog-section {
        padding: 0;
    }

    .catalog-section__content {
        flex-direction: column-reverse;
    }

    .catalog-section__text {
        display: block;
        max-width: 100%;
        margin: 0 0 21px 0;
    }

    .ui-accordion .ui-accordion-header {
        padding: 35px 0 30px 0;
    }

    .ui-accordion .ui-accordion-content {
        padding:20px 0 55px 0
    }

    .year-accordeon__text-icon {
        width: 50px; height: 50px;
    }

    .year-accordeon__text-tittle {
        font-size: 24px;
        line-height: 32px;
    }

    .catalog-section__left-image {
        margin:0 0 28px 0;
    }

    .artist-name {
        margin: 0 0 8px 0;
    }

    .artist-biography__date {
        margin: 0 0 5px 0;
    }

    .catalog-section__left, .catalog-section__right {
        width: 100%;
    }

    .yaer-accordeon-item-artist {
        column-count: 3;
    }

    .gray-block {
        width: 41.17%;
        height: 190px;
    }

    .announcement {
        align-self: center;
    }

    .announcement__tittle {
        letter-spacing: 0;
    }

    .swiper-slide-content__text {
        padding: 0 15px 46px 35px;
        min-height: 418px;
    }

    .swiper-slide-content__adress {
        padding: 0;
    }

    .swiper-slide-content__adress {
        margin: 0 1px 0 0;
    }

    section.developments {
        padding: 70px 0 0 0;
    }

    .swiper-slide-content__text-link {
        padding: 0;
    }

    .swiper-slide-content__text-link::after {
        width: 100%;
        left: 1px;
    }

    .dev-pagination {
        width: 10%;
    }

    .swiper-slide-content__text-desc {
        width: 98%;
    }

    .swiper-slide-project {
        min-height: 106px;
    }

    .project {
        padding: 80px 0 80px 0;
    }

    .project-content__desc {
        width: 98%;
        margin: 0 0 30px 0;
    }

    .hidden-text-768, .hidden-text-1024 {
        display: inline-block;
        display: none;
    }

    .project-content__partners {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 28px 0;
    }

    .project-swiper {
        padding: 0 25px;
        height: 106px;
    }

    .partners-img-size {
        max-width: 80%;
        max-height: 80%;
    }

    section.adress {
        outline: 1px solid var(--accordeon-close-color);
        outline-offset: -1px;
        margin: 0;
        padding: 40px 0 0 0;
    }

    .connection__adress {
        margin: 0 0 45px 0;
    }

    .connection__adress-style {
        font-size: 16px;
    }

    .connection__adress-tittle {
        font-size: 24px;
        display: block;
        margin: 0 0 15px 0;
    }

    .connection__call-form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .connection-social-link {
        margin: 0 0 40px 0;
    }

    .form-input-container {
        margin: 0 0 12px 0;
    }

    .connection__input-style, .connection__btn-style {
        width: 323px;
        margin: 0;
        height: 50px;
    }

    .connection__btn-style {
        margin: 0 0 30px 0;
        width: 316px;
    }

    .connection-social-tittle {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    .connection-social-icon {
        width: 40px; height: 40px;
    }

    .form-input {
        margin: 0 20px 0 0;
    }

    .footer-icon__point {
        width: 60px; height: 60px;
    }

    .adress-map, .ymaps-2-1-79-map, .ymaps-2-1-79-i-ua_js_yes, .ymaps-2-1-79-map-bg, .ymaps-2-1-79-islets_map-lang-ru {
        height: 700px;
    }

    .footer-content {
        padding: 40px 0 50px 0;
    }

    .footer-icon__link:not(:last-child) {
        margin: 0 25px 0 0;
    }

    .footer-icon {
        margin: 0;
    }

}

@media (min-width: 1024px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px 0 50px;
    }

    .header-site__button-search {
        width: 40px; height: 32px;
    }

    .swiper-slide {
        background-size: 1024px 768px;
    }

    .header-site__content {
        padding: 30px 0 25px 0;
    }

    .header-site__text {
        width: 80%;
        margin: 0;
    }

    .header-site__text-tittle {
        margin: 0 0 11px 0;
    }

    .header-site__text-desc {
        max-width: none;
        margin: 0 0 135px 0;
    }

    .header-site__text-tittle {
        letter-spacing: normal;
        line-height: 83px;
    }

    .header-site__btn {
        width: 34%;
        height: 70px;
        font-size: 1.75vw;
        transition: box-shadow .4s ease-in-out;
    }
    
    .mobile-search {
        width: 31%;
        padding: 0;
    }

    .mobile-search-container {
        padding: 0 18px 6px 0;
    }

    .mobile-search__input, .mobile-search-container {
        width: 87%;
    }

    .mobile-search__input {
        margin: 0;
    }

    .mobile-search-btn__line {
        width: 30px;
        height: 2px;
    }

    .mobile-search-btn {
        align-self: center;
        padding: 25px 0 0 0;
    }

    .mobile-search--active {
        height: 10%;
        right: 47.5px;
    }

    /* ABOUT US */

    .about-us {
        padding: 80px 0 72px 0;
    }

    .about-us__desc {
        width: 100%;
    }

    .about-us__tittle {
        margin: 0 0 15px 0;
    }
    /*GALLERY*/

    .gallery {
        padding: 80px 0 0 0;
        min-height: 560px;
    }

    .gallery-swiper {
        padding: 23px 0 0 0;
    }

    .swiper-slide-gallery {
        min-width: 280px;
    }

    .gallery-swiper {
        max-width: 595px;
        flex-direction: column;
    } 

    .gallery__tittle {
        margin: 0 0 15px 0;
    }

    .galelery-button {
        margin: 0 0 29px 0;
    }

    .gallery__desc {
        flex-direction: row;
    }

    .gallery-modal {
        padding: 20px 0;
    }

    .gallery-modal__body {
        flex-direction: row;
        height: 594px;
        width: 594px;
        padding: 0;
    }
    
    .gallery-modal__decr {
        padding: 100px 50px 30px 50px;

    }

    .gallery-modal__close {
        top: 7%;
        right: 4%;
    }

    .gallery-modal__decr-text {
        line-height: 32px;
    }

    .gallery-modal__picture-img {
        min-height: 594px;
        min-width: 264px;
    }

    .choices[data-type*=select-one] .choices__inner {
        padding: 0 0 0 7px;
    }

    
    .choices {
        width: 148%;
        margin: 0 0 107px 0;
    }


    /* CATALOG */

    .catalog-section__text {
        display: block;
        max-width: 100%;
        margin: 0 0 40px 0;
    }

    .catalog-section__content {
        flex-direction: row;
    }

    section.catalog {
        margin: 0 0 22px 0;
    }

    .catalog-section__left, .catalog-section__right {
        max-width: 50%;
    }

    .yaer-accordeon-item-artist {
        column-count: 2;
    }

    .ui-accordion .ui-accordion-content {
        padding: 20px 2px 25px 0;
    }

    .gray-block {
        width: 50%;
        height: 114px;
    }

    .announcement {
        width: 50%;
    }

    /*DEVELOPS*/

    section.developments {
        padding: 5px 0 0 0;
    }

    .swiper-slide-content__text {
        padding: 0 34px 51px 34px;
        width: 80%;
    }
    
    .swiper-slide-content__text-tittle {
        min-width: 222px;
    }

    .swiper-slide-image {
        margin: 0 0 10px 0;
    }

    .swiper-slide-content__text-desc {
        width: 100%;
    }

    .swiper-slide-content__adress {
        margin: 0 0 4px 0;
        text-align: right;
    }

    .dev-button-next {
        display: none;
    }

    .dev-pagination {
        width: 5%;
    }

    .developments-content__slider {
        margin: 0 0 30px 0 ;
    }

    /* PROJECT */

    .project-content__desc {
        width: 100%;
        margin: 0 0 15px 0;
        letter-spacing: 0;
    }

    .project-swiper {
        height: 128px;
    }

    .project-content__tittle {
        margin: 0 0 20px 0;
    }

    .project-content__partners {
        margin: 0 0 22px 0;
    }

    .swiper-slide {
        width: 384px;
    }

    .partners-img-size {
        max-width: 56%;
    }

    .hidden-text-1024 {
        display: inline-block;
    }

    .swiper-slide-project {
        height: 128px;
    }

    /* ADRESS */

    .connection {
        flex-direction: column;
        align-items: flex-start;
    }

    .connection__call-form {
        flex-wrap: nowrap;
    }

    .connection__adress {
        margin: 0 0 45px 0;
    }

    .connection__input-style {
        width: 270px;
        margin: 0 20px 0 0;
        font-size: 16px;
    }

    .connection__btn-style {
        width: 343px;
        font-size: 18px;
    }

    .footer-icon__link:not(:last-child) {
        margin: 0 25px 0 0;
    }

}

@media (min-width: 1325px) {

    /* HOVER EFFECT */

    .item-flow-btn {
        transition: color .3s ease-in-out;
    }

    .item-flow-btn:active {
        color: var(--accordeon-color);
    }

    .dropdown-content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    .dropdown-content:active {
        box-shadow: inset 0 0 0 2px var(--accordeon-icon-hover);
    }

    .dropdown-content:focus-visible {
        box-shadow: inset 0 0 0 2px var(--accordeon-icon-hover);
    }

    .dropdown-content:active.dropdown-content:before {
        opacity: 1;
    }

    .header-site__btn-enter {
        transition: background-color .5s ease-in-out, color .5s ease-in-out;
    }

    .icon-path {
        transition: fill .5s ease-in-out;
    }

    .arrow-enter {
        transition: transform .5s ease-in-out;
    }

    .header-site__btn-enter:active .arrow-enter {
        background-color: var(--input-call-color);
    }
    
    .header-site__btn-enter:active {
        color: var(--input-call-color);
    }
    
    .header-site__btn-enter:active .header-site__btn-icon path {
        fill: var(--input-call-color);
    }

    .header-site__item {
        transition: color .3s ease-in-out;
        padding: 0 0 5px 0;
    }

    .header-site__item:active {
        color: var(--accordeon-color);
    }

    .checkbox-style-text {
        transition: color .3s ease-in-out;
    }

    .checkbox-style-text::before {
        transition: border-color .3s ease-in-out;
    }
    
    .year-accordeon__text {
        transition: border-bottom .2s ease-in-out, border-top .2s ease-in-out;
    }

    .ui-widget button {
        transition: color .5s ease-in-out;
    }

    .yaer-accordeon-list__btn:before {
        transition: opacity .5s ease-in-out;
    }

    .yaer-accordeon-list__btn {
        position: relative;
    }

    .yaer-accordeon-list__btn:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -2px;
        height: 1px;
        background-color: var(--input-call-color);
        opacity: 0;
    }

    .swiper-slide-content__text-link {
        transition: color .4s ease-in-out;
    }

    .connection__input-style {
        transition: background-color .3s ease-in-out;
        cursor: pointer;
    }

    .connection-social-icon {
        transition: box-shadow .3s ease-in-out, opacity .3s ease-in-out;
    }

    .footer-path {
        transition: fill .3s ease-in-out;
    }

    .scroll-fix {
        padding-right: 24px;
    }

    .container {
        max-width: 1640px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 0 20px;
    }

    .mobile-search {
        display: none;
    }

    .header-site__btn-icon {
        width: 13px; height: 13px;
    }

    .header-site__content {
        padding: 30px 0 27px 0;
    }

    .content-bottom {
        padding: 22px 0;
    }

    .header-site__search {
        padding: 5px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-site__button-search {
        background-image: url("../img/search-head-icon-desktop.png");
        width: 22px; height: 22px;
        margin: 0 12px 0 0;
        padding: 0;
    }

    .header-site {
        min-height: 800px;
    }

    .header-site__text {
        padding: 165px 0 0 0;
    }

    .header-site__text-tittle {
        margin: 0 0 15px 0;
    }

    .header-site__text-desc {
        max-width: 45%;
        margin: 0 0 95px 0;
    }

    .header-site__btn {
        width: 16.5vw;
        font-size: 0.94vw;
    }

    .header-site__nav-desktop, .header-site__list, .header-site__bottom, .header-site__btn-enter, .header-site__input-search {
        display: flex;
    }

    .header-site__search-mobile, .burger-btn {
        display: none;
    }

    .header-site__btn-icon {
        margin: 0 5px 0 0;
    }

    .swiper-slide-header {
        min-height: 800px;
    }

    .about-us__desc {
        width: 67.3%;
    } 

    .choices {
        width: 21vw;
        max-width: 400px;
        margin: 0 0 175px 0;
        transition: background-color .3s ease-in-out;
    }    

    .gallery {
        min-height: 595px;
    }

    .gallery-select-filter {
        margin: 0 0 10px 0;
    }

    .gallery__checkbox-style {
        width: 30%;
    }

    .gallery__checkbox-style:not(:last-child) {
        margin: 0 0 13px 0;
    }

    .gallery__checkbox-style span::after {
        left: 4.3px;
    }

    .swiper-slide__picture-hover {
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    }

    .swiper-slide-gallery:focus-visible .swiper-slide__image {
        outline: 3px solid var(--accordeon-icon-hover);
        outline-offset: -3px;
    }

    .swiper-slide__image {
        margin: 0;
    }

    .gallery-modal__body {
        width: 900px;
        height: 500px;

    }

    .gallery-modal__picture-img {
        min-width: 400px;
        min-height: 500px;
    }

    .gallery-modal {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .gallery-swiper {
        max-width: 72%;
    }

    .gallery-modal__close:focus-visible .modal-close-line {
        background-color: var(--input-call-color);
    }

    .gallery-modal__close:active .modal-close-line {
        background-color: var(--accordeon-color);
    }
    

    .modal--active {
        opacity: 1;
        visibility: visible;
    }

    .catalog-section__text {
        max-width: 67.2%;
    }
    
    .catalog-section__left {
        max-width: 47%;
    }

    .catalog-section__right {
        max-width: 50%;
    }

    .year-accordeon__item-info {
        padding: 37px 0 0 20px;
    }

    .yaer-accordeon-item-artist {
        column-gap: 0;
        column-count: 3;
    }

    .gray-block {
        width: 251px;
        height: 165px;
        background-color: var(--gray-block-color);
        outline: 2px solid var(--gray-block-color);
        outline-offset: 12px;
        margin: 0 36px 0 0;
    }

    .announcement__tittle {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 5px 0;
    }

    section.catalog {
        margin: 0 0 25px 0;
    }

    .ui-accordion .ui-accordion-content {
        padding: 20px 2px 55px 0;
    }

    .swiper-slide-content__adress {
        text-align: left;
        margin: 0 0 15px 0;
    }

    .swiper-slide-content__text {
        padding: 0 50px 40px 50px;
        min-height: 346px;
    }

    .tittle {
        margin: 0 0 14px 0;
    }
    
    .dev-button-prev {
        opacity: 1;
        visibility: visible;
    }

    .dev-pagination {
        display: none;
    }

    .dev-button-next {
        display: block;
    }

    .stroke-accordeon {
        transition: stroke .4s ease-in-out;
    }

    .dev-button-next:active .stroke-accordeon {
        stroke: var(--input-call-color);
        stroke-width: 3px;
    }

    .dev-button-prev:active .stroke-accordeon {
        stroke: var(--input-call-color);
        stroke-width: 3px;
    }

    .this-path {
        transition: all .3s ease-in-out;
    }

    .project {
        padding: 50px 0 80px 0;
    }

    .ymaps-2-1-79-zoom {
        display: block;
    }

    .project-swiper {
        padding: 0;
        height: 150px;
    }

    .project-content__partners {
        margin: 0 0 30px 0;
    }

    .project-content__desc {
        width: 67%;
    }

    section.adress {
        padding: 40px 0 0 0;
    }

    .project-content__tittle {
        margin: 0 0 15px 0;
    }

    .swiper-slide-project {
        height: 150px;
    }

    .swiper-slide-project:focus-visible {
        outline-color: var(--input-call-color);
        filter: grayscale(0);
    }

    .connection {
        flex-direction: row;
    }

    .connection-social-tittle {
        line-height: 25px;
    }

    .connection__adress {
        margin: 0 50px 35px 0;
    }

    .connection__btn-style {
        width: 330px;
        transition: background-color ease-in-out .5s, box-shadow .5s ease-in-out;
    }

    .connection__btn-style:active {
        background-color: var(--accordeon-color);
        color: var(--basic-color);
        box-shadow: 0 0 0 4px var(--accordeon-icon-hover);
        /* outline: 4px solid var(--accordeon-icon-hover); */
        /* transition: background-color ease-in-out .5s; */
        border: transparent;
    }

    .connection__btn-style:focus-visible {
        outline: 4px solid var(--accordeon-icon-hover);
        border: transparent;
    }

    .connection__input-style[type="tel"] {
        padding-bottom: 22px;
    }

    .connection__call {
        padding: 10px 0 0 0;
    }

    .connection__adress {
        width: 24vw;
    }

    .connection-social-tittle {
        width: 14.5vw;
    }

    .adress-map {
        outline: 1px solid var(--outline-connection-style);
        outline-offset: 2px;
    }

    .connection-social-icon:focus-visible {
        opacity: 0.5;
    }

    .footer-content {
        padding: 50px 0;
    }
    
    .footer-icon__link {
        width: 45px; height: 45px;
    }

    .footer-icon__link:not(:last-child) {
        margin: 0 17px 0 0;
    }

    .footer-icon__point {
        width: 45px; height: 45px;
    }
    
}    