/* COLOR */
:root {
    --basic-color: #FFFFFF;
    --checkbox-color: #C283F3;
    --text-color: #333333;
    --accordeon-color: #7943A4;
    --black-color: #000000;
    --input-call-color: #9D5CD0;
    --biography-text-color: #999999;
    --pagination-active-color: #666666;
    --accordeon-close-color: #CACACA;
    --gray-block-color: #B7B7B7;
    --error-form-color: #D11616;
    --accordeon-icon-hover: #D1A9F0;
    --hover-input: #EAEAEA;
    --gallery-modal-descr-color: #969696;
    --outline-connection-style: #2AABEE;
}

/* FONTS */

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url('../fonts/OpenSans-Bold.woff2') format("woff2"),
        url('../fonts/OpenSans-Bold.woff') format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url('../fonts/OpenSans-Regular.woff2') format("woff2"),
        url('../fonts/OpenSans-Regular.woff') format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url('../fonts/OpenSans-SemiBold.woff2') format("woff2"),
        url('../fonts/OpenSans-SemiBold.woff') format("woff");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

:focus-visible {outline:none;}
:focus {outline:none;}

.tittle {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--text-color);
    margin: 0 0 16px 0;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}

/* RESET */

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    display: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

/* HEADER */

.burger-btn {
    display: none;
}

.header-site {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header-site__block {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
}

.header-site__top {
    background-color: var(--black-color);

}

.swiper-slide-header {
    width: 100%;
}

.header-site__bottom {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-site__content {
    display: flex;
    flex-direction: row;
    padding: 24px 0 24px 0;
    justify-content: space-between;
    position: relative;
}

.header-site__nav-desktop {
    align-self: center;
    margin: 0 240px 0 0;
}

.header-site__item {
    letter-spacing: 0.4px;
}

.header-site__list {
    display: flex;
    flex-direction: row;
}

.header-site__list-flow {
    display: flex;
    flex-direction: row;
}

.header-site__item:not(:last-child) {
    margin: 0 62px 0 0;
}

.header-site__dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 195%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 300px;
    z-index: 500;
    padding: 5px 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.header-site__dropdown.dropdown__active {
    visibility: visible;
    opacity: 1;
}

.flow-btn-arrow {
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}

.item-flow-btn.btn__active {
    color: var(--accordeon-color);
}

.btn__active .flow-btn-arrow {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.btn__active .flow-btn-arrow path {
    stroke: var(--accordeon-color);
}

.item-flow-btn:focus-visible .flow-btn-arrow path {
    stroke: var(--basic-color);
} 

.item-flow-btn:focus-visible {
    background-color: var(--accordeon-color);
    color: var(--basic-color);
    outline: none;
}

.item-flow-btn:active {
    color: var(--accordeon-color);
    background-color: transparent;
}

.item-flow-btn:active .flow-btn-arrow path {
    stroke: var(--accordeon-color);
}

.dropdown-content {
    width: 220px;
    height: 40px;
    color: var(--basic-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 124px 10px 14px;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
}

.dropdown-content:not(:last-child) {
    margin: 0 0 20px 0;
}

.tintoretto {
    background-image: url("../img/dropdown/tintoretto.jpg");
}

.fridrih {
    background-image: url("../img/dropdown/fridrih.jpg");
}

.leonardo {
    background-image: url("../img/dropdown/leonardo.jpg")
}

.verocco {
    background-image: url("../img/dropdown/verocco.jpg");
}

.mone {
    background-image: url("../img/dropdown/mone.jpg");
}

.mane {
    background-image: url("../img/dropdown/mane.jpg");
}

.sisley {
    background-image: url("../img/dropdown/sisley.jpg");
}

.renuar {
    background-image: url("../img/dropdown/renuar.jpg");
}

.vangog {
    background-image: url("../img/dropdown/vangog.jpg");
}

.sezann {
    background-image: url("../img/dropdown/sezann.jpg");
}

.gogen {
    background-image: url("../img/dropdown/sezann.jpg");
}

.sera {
    background-image: url("../img/dropdown/sera.jpg");
}

.kandinskiy {
    background-image: url("../img/dropdown/kandinskiy.jpg");
}

.marinetti {
    background-image: url("../img/dropdown/marinetti.jpg");
}

.malevich {
    background-image: url("../img/dropdown/malevich.jpg");
}

.picasso {
    background-image: url("../img/dropdown/malevich.jpg");
}

.kappa {
    background-image: url("../img/dropdown/kappa.jpg");
}

.pratella {
    background-image: url("../img/dropdown/pratella.jpg");
}

.severini {
    background-image: url("../img/dropdown/severini.jpg");
}

.balla {
    background-image: url("../img/dropdown/balla.jpg");
}

.header-site__item-flow:not(:last-child) {
    margin: 0 95px 0 0;
}

.arrow-enter {
    position: absolute;
    z-index: 100;
    width: 5px;
    height: 1.4px;
    background-color: var(--basic-color);
    top: 50%;
}

.header-site__btn-enter:active .arrow-enter {
    background-color: var(--input-call-color);
}

.header-site__btn-enter:active {
    color: var(--input-call-color);
}

.header-site__btn-enter:active .header-site__btn-icon path {
    fill: var(--input-call-color);
}

.header-site__item, .header-site__item-flow, .header-site__btn-enter {
    position: relative;
    z-index: 1000;
    color: var(--basic-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.header-site__btn-enter {
    align-items: center;
}

.header-site__item:active {
    color: var(--accordeon-color);
}

.header-site__btn-enter:focus-visible {
    background-color: var(--accordeon-color);
}

.header-site__link {
    position: relative;
    z-index: 1;
}

.focus-visible-effect::before {
    position: absolute;
    content: '';
    top: -3px;
    bottom: -3px;
    left: -5px;
    right: -5px;
    z-index: -1;
    background-color: var(--accordeon-color);
    opacity: 0;
}

.focus-visible-effect:focus-visible::before {
    opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-selected {
    display: none;
}

.item-flow-btn {
    color: var(--basic-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.header-site__top_item {
    font-weight: 600;
}

.header-site__description {
    position: absolute;
    z-index: 90;
    padding: 233px 0 125px 0;
    top: 0;
    pointer-events: none;
    width: 100%;
}

.header-site__text {
    width: 46.4%;
}

.header-site__text-tittle {
    color: var(--basic-color);
    font-weight: 700;
    font-size: 72px;
    max-width: 600px;
    margin: 0 0 20px 0;
}

.header-site__text-desc {
    color: var(--basic-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 92px 0;
    max-width: 580px;
}

.header-site__btn {
    background-color: var(--input-call-color);
    width: 314px;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-radius: 100px;
    border: 3px double transparent;
    color: var(--basic-color);
    pointer-events: all;
}

.header-site__btn:focus-visible {
    outline: 2px solid var(--accordeon-icon-hover);
    border-color: var(--basic-color);
    transition: outline .1s ease-in-out;
}

.header-site__btn:active {
    background-color: var(--accordeon-color);
    outline: 3px solid var(--accordeon-icon-hover);
    transition: outline .1s ease-in-out;
}

.header-site__input-search {
    position: relative;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    width: 218px;
    align-self: flex-end;
    padding: 0;
    line-height: 0;
}


.header-site__input-search:focus {
    border-bottom-color: var(--accordeon-color);
    transition: all .3s ease-in-out;
}

.header-site__button-search {
    background-image: url('/img/search-head-icon.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
}

.header-site__search--mobile {
    display: none;
}

input.header-site__input-search::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.header-site__input-search:focus {
    outline: none;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
}

.swiper-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* SCROLLBAR */

.simplebar-scrollbar {
    background-color: var(--basic-color);
}

.simplebar-track.simplebar-vertical {
    margin: 40px 20px 0 0;
    background-color: var(--black-color);
    width: 2px;
    height: 220px;
}

.simplebar-offset {
    padding: 40px;
}

/* GALLERY */

.gallery {
    background-image: url(../img/gallery-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: left bottom;
}

.gallery-swiper {
    width: 72%;
    overflow: hidden;
}

.gallery__desc {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.gallery__tittle {
    color: var(--basic-color);
    line-height: 0.7;
    margin: 0 0 60px 0;
}

.gallery__checkbox {
    display: flex;
    flex-direction: column;
} 

.galelery-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 30px 0;
}

.gallery-button-icon:disabled {
    display: none;
}

.gallery-button-icon:active path {
    stroke: var(--black-color)
}

.gallery-button-icon:active {
    border: 1px solid var(--black-color);
}

.gallery-button-next:focus-visible .gallery-button-icon {
    outline: 4px solid var(--black-color);
    border-radius: 50px;
}

.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
}

.gallery-number-list {
    width: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--basic-color);
}

.gallery-button-prev, .gallery-number-list {
    margin: 0 12px 0 0;
}

.swiper-slide__gallery {
    min-height: 350px;
}

.swiper-slide__image {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

.swiper-slide-gallery {
    position: relative;
}

.swiper-slide__picture-hover {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.image-slide-hover {
    object-fit: contain;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide-gallery:focus-visible .swiper-slide__image {
    outline: 3px solid var(--accordeon-color);
    outline-offset: -3px;
}

.swiper-slide-gallery::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 97%;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    display: block;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.swiper-slide-gallery:active::after {
    opacity: 1;
    visibility: visible;
    outline: 3px solid var(--accordeon-icon-hover);
    outline-offset: -3px;
}

/* SELECT CUSTOM */

.choices {
    color: var(--basic-color);
    font-weight: 400;
    font-size: 16px;
}

.choices:focus-visible {
    background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

select option:checked { display: none; }

.choices__inner {
    background-color: transparent;
    border-radius: 6px;
    padding-left: 16px;
    border: 1px solid var(--basic-color);
}

.is-open {
    background-color: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown, .choices__list[aria-expanded] {
    background-color: var(--black-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid var(--basic-color);
}

.choices[data-type*=select-one].is-open::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999995 6L6 0.999997L11 6' stroke='white'/%3E%3C/svg%3E%0A");
    margin: 0 0 2px 0;
}

.choices[data-type*=select-one]::after {
    content: '';
    border-color: transparent;
    width: 12px;
    height: 7px;
    border-style: none;
    right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6.00001L0.999997 1' stroke='white'/%3E%3C/svg%3E");
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
}

/* GALLERY CHECKBOX */

.checkbox-style-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--basic-color);
}

.gallery__checkbox-style {
    height: 20px;
    position: relative;
    width: 30%;
}

.gallery__checkbox-style:not(:last-child) {
    margin: 0 0 20px 0;
}

.gallery__checkbox-style span {
    position: absolute;
    top: 5%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gallery__checkbox-style input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gallery__checkbox-style span::before {
    content: '';
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--basic-color);
    margin: 0 10px 0 0;
}

.gallery__checkbox-style span::after {
    content: '';
    position: absolute;
    display: none;
    left: 2%;
    top: 43%;
    width: 4px;
    height: 4px;
    background-color: var(--checkbox-color);
    border-radius: 50px;

}


.gallery__checkbox-style input:focus-visible + span {
    color: var(--checkbox-color);
}

.gallery__checkbox-style input:focus-visible + .checkbox-style-text::before {
    border-color: var(--checkbox-color);
}

.gallery__checkbox-style input:checked + span::after {
    display: block;
}

.gallery__checkbox-style input:checked + span::before {
    border: 1px solid var(--checkbox-color);    
}

.gallery__checkbox-style input:checked + span {
    color: var(--checkbox-color);
}

.gallery-select-filter {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--basic-color);
    margin: 0 0 10px 0;
}

/* CATALOG */

.catalog-section {
    padding: 80px 0 0 0;
}

.catalog-section__text {
    margin: 0 0 50px 0;
}

.catalog-section__content {
    display: flex;
    flex-direction: row;
}

.catalog-section__right, .catalog-section__left {
    width: 50%;
}

.catalog-section__left {
    margin: 0 50px 0 0;
}

.catalog-section__left-image {
    margin: 0 0 50px 0;
}

.artist-name {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--text-color);
}

.artist-biography {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}

.artist-biography__date {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--biography-text-color);
    margin: 0 0 15px 0;
}

.artist-name-none {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 15px 0;
}

.artist-biography-none {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
    margin: 0 0 15px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
}

.year-accordeon__text:focus-visible .year-accordeon__text-tittle {
    background-color: var(--input-call-color);
    color: var(--basic-color);
}

.year-accordeon__text:focus-visible .year-accordeon__text-icon path {
    fill: var(--accordeon-icon-hover);
}

.year-accordeon__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    border-top: 1px solid var(--accordeon-close-color);
    border-bottom: 1px solid var(--accordeon-close-color);
}

.year-accordeon__text:active .year-accordeon__text-tittle {
    color: var(--accordeon-color);
}

.year-accordeon__text-tittle {
    color: var(--text-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.year-accordeon__text-icon {
    cursor: pointer;
}

.year-accordeon__text.ui-state-active .year-accordeon__text-icon {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.year-accordeon__text.ui-state-active .year-accordeon__text-tittle {
    color: var(--accordeon-color);
}

.year-accordeon__text-icon {
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}

.ui-state-active.year-accordeon__text {
    border-top: 1px solid var(--accordeon-color);
    border-bottom: 1px solid var(--accordeon-color);
}

.year-accordeon__text.ui-state-active .year-accordeon__text-icon path {
    fill: var(--accordeon-icon-hover);
}

.year-accordeon__text.ui-state-active .stroke-accordeon {
    stroke: var(--input-call-color);
    stroke-width: 3px;
}

.year-accordeon__text.ui-state-active .year-accordeon__text-icon path:nth-child(3n) {
    stroke: var(--black-color);
} 

.yaer-accordeon-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
    white-space: nowrap;
}


.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-weight: 400;
    font-size: 16px;    
    line-height: 32px;
    font-family: 'Open Sans';
}

.yaer-accordeon-list__btn--active {
    background-color: var(--input-call-color);
    color: var(--basic-color);
}

.ui-widget button:active {
    color: var(--accordeon-close-color);
    text-decoration: none;
}

.ui-widget button:focus-visible {
    color: var(--accordeon-close-color);
    background-color: var(--accordeon-color);
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: block;
}

.ui-widget-content {
    border: none;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0;
}

.ui-icon, .ui-widget-content .ui-icon {
    display: none;
}

.ui-widget-content a {
    color: var(--input-call-color);
}

.year-accordeon__item-info {
    display: flex;
    flex-direction: row;
}

.announcement__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    margin: 0 0 5px 0;
}

.announcement-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--input-call-color)
}

/* DEVELOPMENTS */

.developments-content {
    position: relative;
}

.swiper-slide-content {
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--accordeon-close-color);
}

.dev-pagination {
    display: none;
}

.developments-content__slider {
    overflow: hidden;
    padding: 2px 2px;
}

.swiper-slide-content__text {
    display: flex;
    flex-direction: column;
}

.swiper-slide-content__adress {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--biography-text-color);
    margin: 0 0 13px 0;
}

.swiper-slide-content__text-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--text-color);
    margin: 0 0 10px 0;
}

.tippy-box[data-theme~='tooltip-style'] {
    background-color: var(--input-call-color);
    color: var(--basic-color);
    border-radius: 0;
}



.swiper-slide-content__text-desc, .swiper-slide-content__text-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-color);
}

.swiper-slide-content__text-link {
    color: var(--input-call-color);
    text-decoration: underline;
    margin-top: auto;
}

.swiper-slide-content__text-link:focus-visible {
    background-color: var(--input-call-color);
    color: var(--basic-color)
}

.dev-button-next {
    position: absolute;
    right: -20px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
}

.dev-button-prev {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 50%;
    left: -1.5%;
    transform: rotate(180deg);
}

.swiper-button-disabled.dev-button-next, .swiper-button-disabled.dev-button-prev{
    opacity: 0;
}

.dev-button-next:focus-visible .dev-button-next-icon path {
    stroke: var(--input-call-color);
}

.project-content__desc {
    position: relative;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 66%;
    margin: 0 0 30px 0;
}


.project-link {
    color: var(--input-call-color);
}

.project-link:focus-visible {
    background-color: var(--input-call-color);
    color: var(--basic-color)
}

.project-link:active {
    color: var(--accordeon-color);
    border-bottom: 1px solid var(--accordeon-color);
}

.project-content__partners {
    color: var(--text-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.partners-button-prev.swiper-button-disabled, .partners-button-next.swiper-button-disabled {
    opacity: 0.2;
}

.swiper-slide-project {
    max-width: 450px;
    outline: 1px solid var(--accordeon-close-color);
    outline-offset: -2px;
    filter: grayscale(.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter .3s ease-in-out;
}

.swiper-slide-project:active {
    outline-color: var(--input-call-color);
}

.project-swiper {
    overflow: hidden;
    max-width: 1450px;
}


.partners-button-prev, .partners-button-next {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.partners-button-prev:focus-visible .partners-button-prev__icon path {
    stroke: var(--input-call-color);
}

.partners-button-next:focus-visible .partners-button-next__icon path {
    stroke: var(--input-call-color);
}

.partners-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tooltips-container {
    display: inline-block;
    position: relative;
}

.tooltips-text-style {
    color: var(--basic-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
}


.tooltips-one-text, .tooltips-two-text, .tooltips-three-text {
    position: absolute;
    padding: 6px 3px;
    background-color: var(--input-call-color);
    opacity: 0;
    text-align: center;
}

.tooltips-one-text {
    bottom: 2vw;
    left: -5vw;
    min-width: 12vw;
}

.tooltips-two-text {
    bottom: 2vw;
    left: -6vw;
    width: 12vw;
}

.tooltips-three-text {
    width: 12vw;
    bottom: 2vw;
    left: -6vw;
}

.project-content__tooltips:focus-visible .tooltips-icon {
    fill: var(--accordeon-icon-hover);
}

.project-content__tooltips:active .tooltips-icon {
    fill: var(--input-call-color)
}

/* ADRESS */

.connection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.connection__adress-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
}

.connection__call-form {
    display: flex;
    flex-direction: row;
    position: relative;
}

.just-validate-error-label {
    color: var(--error-form-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    white-space: nowrap;
}

.form-input-container {
    display: flex;
    justify-content: center;
}

.connection__input-style { 
    border: 1px solid var(--text-color);
    border-radius: 100px;
    width: 270px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 9px 24px;
}

.connection__input-style:focus-visible {
    background-color: var(--hover-input);
}

.connection__btn-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--input-call-color);
    height: 50px;
    border: 2px solid var(--input-call-color);
    border-radius: 100px;
}

.connection__social {
    display: flex;
    flex-direction: column;
}

.connection-social-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color);
    margin: 0 0 5px 0;
}

.connection-social-link {
    display: flex;
    flex-direction: row;
}

.connection-social-icon {
    border-radius: 50px;
    cursor: pointer;
}

.connection-social-icon:not(:last-child) {
    margin: 0 20px 0 0;
}

.connection-social-icon:active {
    filter: grayscale(0);
}

.connection-social-icon:active .connection-icon-stroke {
    filter: grayscale(0);
    stroke: var(--input-call-color);
    stroke-width: 3px;
}

.adress-map {
    max-width: 100%; 
    height: 700px;
    margin: 0 auto;

}

[class*="ground-pane"] { 
    filter: grayscale(1); 
} 

/* FOOTER */

.footer-content {
    background-color: var(--black-color);
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.footer-icon__point {
    cursor: pointer;
}

.footer-icon__link:focus-visible .footer-icon__point path {
    fill: var(--basic-color);
}

.footer-icon__point:focus path {
    fill: var(--basic-color);
}

.footer-icon__point:active path {
    fill: var(--input-call-color)
}

.footer-icon__link:not(:last-child) {
    margin: 0 20px 0 0;
}